<!DOCTYPE html>
<html lang="jp">
  <head>
    <%- include('./common/head') %>
    <%- include('./common/header') %>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script type="text/javascript" src="./javascripts/about.js"></script>
    <link rel='stylesheet' href='./stylesheets/about.css'/>
  </head>
  <body>
    <div id="contents">
      
    </div>
  </body>
</html>