<!DOCTYPE html>
<html lang="jp">
  <head>
    <%- include('./common/head') %>

    <link href="https://vjs.zencdn.net/7.4.1/video-js.min.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/7.4.1/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-contrib-quality-levels@2.1.0/dist/videojs-contrib-quality-levels.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@1.1.4/dist/videojs-hls-quality-selector.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@1.1.4/dist/videojs-hls-quality-selector.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <link rel='stylesheet' href='./stylesheets/player.css'/>

    <link rel='stylesheet' href='./stylesheets/edit.css'/>

    <script type="text/javascript" src="./javascripts/progressbar.js"></script>
  </head>
  <body>
    <%- include('./common/header') %>
    <div id="contents">
      <%- include('./common/side-menu') %>
      <div class="main-contents">
        <div class="upload-left-contents">
          <div class="video-area">
            <video id="upload-video-preview" class="display-on display-off"></video>
            <video id="now-video-preview" class="video-js display-on"></video>
          </div>
          <div id="playlist-area" class="playlist-area display-off">
            <div class="playlist">
              <div class="playlist-title">再生順の変更</div>
              <div id="playlist-sort">

              </div>
              <template id="template-playlist-content">
                <div class="playlist-content-div" ontouchstart="">
                  <div class="playlist-content-index"></div>
                  <div class="playlist-content-thumbnail">
                    <img class="playlist-content-thumbnail-img" src="">
                  </div>
                  <div class="playlist-content-info">
                    <div class="playlist-content-info-title"></div>
                    <div class="playlist-content-info-explanation"></div>
                  </div>
                  <div class="playlist-content-delete">
                    <div class="playlist-content-delete-btn" title="再生リストから削除"></div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="upload-right-contents theme-video-input">
          <form id="upload-form" action="/edit" method="post" encType="multipart/form-data">
            <div id="video-step" class="step">
              <div class="step-contents">
                <div id="drag-area" class="drag-area-init drag-area-block-on">
                  <div class="drop-info">ファイルをドロップ</div>
                  <div class="drop-or">または</div>
                  <label class="theme-upload-btn">ファイルを選択する
                    <input id="uploader" type="file" name="in_file" required>
                  </label>
                </div>
                <div id="drag-area-block" class="theme-drag-area-block">
                  <div class="input_text_title select-file-title">選択中動画</div>
                  <div id="input_file_name"></div>
                  <div id="re-select-btn" class="re-select-file">再選択</div>
                </div>
                <div id="encoding-block" class="theme-drag-area-block">
                  <div class="encoding-title">処理中</div>
                </div>
              </div>
            </div>
            <div id="title-non-err" class="form-err-msg"></div>
            <div class="step">
              <div class="step-contents">
                <div class="input_text_title">タイトル(必須)</div>
                <textarea id="upload-title" class="input_text_init" cols="50" rows="4" name="title" maxlength="40" required ></textarea>
                <div class="input-limit-show"><div id="title-input-limit">0</div> / 40</div>
              </div>
            </div>
            <div class="step">
              <div class="step-contents">
                <div class="input_text_title">説明</div>
                <textarea id="upload-explanation" class="input_text_init" cols="50" rows="4" name="explanation" maxlength="200"></textarea>
                <div class="input-limit-show"><div id="exp-input-limit">0</div> / 200</div>
              </div>
            </div>
            <div class="submit-area">
              <input id="input_hidden_vid" type="hidden" name="vid">
              <div id="cancel-btn" class="submit-btn submit-cancel">キャンセル</div>
              <div id="upload-btn" class="submit-btn">更新</div>
            </div>
          </form>
        </div>
      </div>
      <div id="upload-overlay" class="off-overlay theme-overlay">
        <div id="upload-now">
          <div id="upload-progress-area">
            <div class="upload-msg">更新内容の反映中</div>
            <div id="uploadbar"></div>
            <div id="upload-percent">0</div>
            <div id="result-area">
              <div id="upload-info"></div>
              <div id="reedit-btn" class="unlock-btn lock-btn">再編集</div>
              <div id="back-btn" class="unlock-btn lock-btn">一覧に戻る</div>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="./javascripts/progressbar-control.js"></script>
        <script type="text/javascript" src="./javascripts/edit.js"></script>
      </div>
    </div>

  </body>
</html>