<!DOCTYPE html>
<html lang="jp">
  <head>
    <%- include('./common/head') %>
    <%- include('./common/header') %>
    <link rel='stylesheet' href='/stylesheets/error.css'/>
  </head>
  <body>
    <div id="contents">
      <div class="error-img"></div>
      <div class="error-msg"><%= error %></div>
      <div class="error-msg-sub">再度ログインし直してください</div>
    </div>
    
  </body>
</html>