<!DOCTYPE html>
<html lang="jp">
  <head>
    <%- include('./common/head') %>

    <link rel='stylesheet' href='./stylesheets/system.css'/>
    <script type="text/javascript" src="./javascripts/system.js"></script>

  </head>
  <body class="theme-body">
    <%- include('./common/header') %>
    <div id="contents">
      <%- include('./common/side-menu',{'view_type':view_type,'role':role}) %>
      <div class="main-contents">
        <div class="system-area">
            <div class="system-h1">システム情報</div>
            <div class="system-category">
                <div class="system-category-name">アプリケーション情報</div>
                <div class="system-info">
                    <div class="system-info-name">アプリケーション名</div>
                    <div id="info-app-name" class="system-info-msg"></div>
                </div>
                <div class="system-info">
                    <div class="system-info-name">Version</div>
                    <div id="info-app-version" class="system-info-msg"></div>
                </div>
                <div class="system-info">
                    <div class="system-info-name">接続中ホスト名</div>
                    <div id="info-app-hostname" class="system-info-msg"></div>
                </div>
            </div>
            <div class="system-category">
                <div class="system-category-name">バックエンド接続情報</div>
                <div class="system-info">
                    <div class="system-info-name">バックエンド（API）</div>
                    <div id="info-backapi-status" class="system-info-msg"></div>
                </div>
                <div class="system-info">
                    <div class="system-info-name">バックエンド（File）</div>
                    <div id="info-backfile-status" class="system-info-msg"></div>
                </div>
            </div>
            <div class="system-category">
                <div class="system-category-name">評定送受信情報</div>
                <div class="system-info">
                    <div class="system-info-name">評定機能の状態</div>
                    <div id="info-grade-status" class="system-info-msg"></div>
                </div>
            </div>
            <div class="system-category">
                <div class="system-category-name">ディープリンク利用情報</div>
                <div class="system-info">
                    <div class="system-info-name">ディープリンクの状態</div>
                    <div id="info-deeplink-status" class="system-info-msg"></div>
                </div>
                <div class="system-info">
                    <div class="system-info-name">ディープリンク先情報</div>
                    <div id="info-deeplink-contents" class="system-info-msg"></div>
                </div>
            </div>
            <div class="system-category">
                <div class="system-category-name">LMS連携情報</div>
                <div class="system-info">
                    <div class="system-info-name">URL</div>
                    <div id="info-lms-url" class="system-info-msg"></div>
                </div>
                <div class="system-info">
                    <div class="system-info-name">year</div>
                    <div id="info-lms-year" class="system-info-msg"></div>
                </div>
                <div class="system-info">
                    <div class="system-info-name">platform id</div>
                    <div id="info-lms-platformId" class="system-info-msg"></div>
                </div>
                <div class="system-info">
                    <div class="system-info-name">class name</div>
                    <div id="info-lms-classname" class="system-info-msg"></div>
                </div>
                <div class="system-info">
                    <div class="system-info-name">class id</div>
                    <div id="info-lms-classid" class="system-info-msg"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>

</html>