<!DOCTYPE html>
<html lang="jp">
  <head>
    <%- include('./common/head') %>
    <link rel='stylesheet' href='./stylesheets/upload.css'/>
    <script type="text/javascript" src="./javascripts/progressbar.js"></script>
  </head>
  <body>
    <%- include('./common/header') %>
    <div id="contents">
      <%- include('./common/side-menu',{'view_type':view_type,'role':role}) %>
      <div class="main-contents">
        <div class="upload-left-contents">
          <div class="video-area">
              <video id="upload-video-preview" controls="false" muted=""></video>
          </div>
        </div>
        <div class="upload-right-contents theme-video-input">
          <form id="upload-form" action="/upload" method="post" encType="multipart/form-data">
            <div id="file-non-err" class="form-err-msg"></div>
            <div class="step">
              <div class="step-contents">
                <div id="drag-area" class="drag-area-init drag-area-block-on">
                  <div class="drop-info">ファイルをドロップ</div>
                  <div class="drop-or">または</div>
                  <label class="theme-upload-btn">ファイルを選択する
                    <input id="uploader" type="file" name="in_file" required>
                  </label>
                </div>
                <div id="drag-area-block" class="theme-drag-area-block">
                  <div class="input_text_title select-file-title">選択中動画</div>
                  <div id="input_file_name"></div>
                  <div id="re-select-btn" class="re-select-file">再選択</div>
                </div>
              </div>
            </div>
            <div id="title-non-err" class="form-err-msg"></div>
            <div class="step">
              <div class="step-contents">
                <div class="input_text_title">タイトル(必須)</div>
                <textarea id="upload-title" class="input_text_init" cols="50" rows="4" name="title" maxlength="40" required ></textarea>
                <div class="input-limit-show"><div id="title-input-limit">0</div> / 40</div>
              </div>
            </div>
            <div class="step">
              <div class="step-contents">
                <div class="input_text_title">説明</div>
                <textarea id="upload-explanation" class="input_text_init" cols="50" rows="4" name="explanation" maxlength="200"></textarea>
                <div class="input-limit-show"><div id="exp-input-limit">0</div> / 200</div>
              </div>
            </div>
            <div class="submit-area">
              <div id="cancel-btn" class="submit-btn submit-cancel">キャンセル</div>
              <div id="upload-btn" class="submit-btn">アップロード</div>
            </div>
          </form>
        </div>
      </div>
      <div id="upload-overlay" class="off-overlay theme-overlay">
        <div id="upload-now">
          <div id="upload-progress-area">
            <div class="upload-msg">アップロード中</div>
            <div id="uploadbar"></div>
            <div id="upload-percent">0</div>
            <div id="result-area">
              <div id="upload-info"></div>
              <div id="back-btn" class="unlock-btn lock-btn">一覧に戻る</div>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="./javascripts/progressbar-control.js"></script>
        <script type="text/javascript" src="./javascripts/upload.js"></script>
      </div>
    </div>
  </body>
</html>