<!DOCTYPE html>
<html lang="jp">
  <head>
    <title>SHINtube</title>
    <link rel='stylesheet' href='/stylesheets/common.css'/>
    <link rel="icon" href="/images/favicon.ico">
    <%- include('./common/theme') %>

    <link rel='stylesheet' href='/stylesheets/videolist.css'/>
    <script type="text/javascript" src="/javascripts/videolist.js"></script>
  </head>
  <body class="theme-body">
    <%- include('./common/header') %>
    <div id="contents">
      <%- include('./common/side-menu') %>
      <div class="main-contents">
        <div class="contents_header">
          <div id="class-name" class="video-h1"></div>
          <div class="upload-area">
            <div id="upload-btn"><img src="/images/upload.png">アップロード</div>
          </div>
        </div>
        <%- include('./common/filter') %>
        <div id="videolist-head">
          <div id="sort-video-btn" class="head-video">
            <p>動画</p> 
            <div class="indicator"></div>
            <div class="sort-head-btn"></div>
          </div>
          <div id="sort-status-btn" class="head-status">
            <p>状態</p>
            <div class="indicator"></div>
            <div class="sort-head-btn"></div>
          </div>
          <div id="sort-update-btn" class="head-update">
            <p>更新日</p>
            <div class="indicator"></div>
            <div class="sort-head-btn"></div>
          </div>
          <div id="sort-create-btn" class="head-create">
            <p>作成日</p>
            <div class="indicator"></div>
            <div class="sort-head-btn"></div>
          </div>
          <div id="sort-contributor-btn" class="head-contributor">
            <p>投稿者</p>
            <div class="indicator"></div>
            <div class="sort-head-btn"></div>
          </div>
        </div>
        <div id="videolist-area">
          <div id="videolist"></div>
          <div id="delete-overlay" class="overlay">
            <div class="delete-area theme-delete-area">
              <p>この動画を削除しますか</p>
              <div class="delete-info">
                <img id="delete-thumbnail"></img>
                <div id="delete-title"></div>
              </div>
              <div class="delete-btn-area">
                <div id="delete-cancel-btn" class="delete-btn">キャンセル</div>
                <div id="delete-run-btn" class="delete-btn">削除</div>
              </div>
            </div>
          </div>
          <template id="template-video">
            <div class="video_div">
              <div class="head-video">
                <div class="head-thumbnail">
                  <img class="head-thumbnail-img">
                  <a class="head-thumbnail-a"></a>
                </div>
                <div class="head-title">
                  <p class="head-title-p"></p>
                  <p class="head-explanation-p"></p>
                  <div class="operation-div">
                    <div class="edit-operation-btn operation-btn">メタデータの編集</div>
                    <div class="delete-operation-btn operation-btn">削除</div>
                  </div>
                </div>
              </div>
              <div class="head-status">
                <p class="head-status-title"></p>
                <p class="head-status-info"></p>
              </div>
              <div class="head-update">
                <p class="head-update-ymd"></p>
                <p class="head-update-hms"></p>
              </div>
              <div class="head-create">
                <p class="head-create-ymd"></p>
                <p class="head-create-hms"></p>
              </div>
              <div class="head-contributor">
                <p class="head-contributor-p"></p>
              </div>
              
            </div>
          </template>
        </div>
      </div>
    </div>
  </body>

</html>