<!DOCTYPE html>
<html lang="jp">

<head>
  <%- include('./common/head') %>
  <!--pdf化関連OSS適応待ち
    <%- include('./common/pdf') %>
  -->
  <%- include('./common/memo') %>
  <link href="https://vjs.zencdn.net/7.15.4/video-js.min.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/videojs-contrib-quality-levels@2.1.0/dist/videojs-contrib-quality-levels.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@1.1.4/dist/videojs-hls-quality-selector.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@1.1.4/dist/videojs-hls-quality-selector.min.js"></script>

  <script type="text/javascript" src="./javascripts/watch.js"></script>
  <script type="text/javascript" src="./javascripts/log-api.js"></script>

  <link rel='stylesheet' href='./stylesheets/watch.css'/>
  <link rel='stylesheet' href='./stylesheets/player.css'/>

</head>


<body>
  <%- include('./common/header') %>
  <div id="contents">
    <div id="main-area">
      <div id="video-area">
        <video id="video-player" class="video-js">
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video> 
      </div>
      <div id="info-area">
        <div id="video-title"></div>
        <div id="video-update">更新日：</div>
        <div id="video-explanation"></div>
      </div>
    </div>
    <div id="side-area">
      <div id="playlist-area" class="playlist-none">
        <div class="playlist">
          <details open class="playlist-details">
            <summary>
              <div class="playlist-info">
                <div id="playlist-info-title"></div>
                <div id="playlist-info-index"></div>
              </div>
            </summary>
            <div id="playlist-list" class="playlist-list">
              <template id="template-playlist-content">
                <div class="playlist-content-div" ontouchstart="">
                  <div class="playlist-content-index"></div>
                  <div class="playlist-content-thumbnail">
                    <img class="playlist-content-thumbnail-img" src="">
                    <div class="playlist-content-thumbnail-ps"></div>
                  </div>
                  <div class="playlist-content-info">
                    <div class="playlist-content-info-title"></div>
                    <div class="playlist-content-info-explanation"></div>
                  </div>
                  <a class="playlist-content-a"></a>
                </div>
              </template>
            </div>
          </details>
        </div>
      </div>
      <div class="memo-area">
        <textarea id="memo-editor"></textarea>
      </div>
      <div id="memo-controller">
        <div id="memo-download-btn" class="theme-download-btn">
          <div class="memo-download-icon save-icon"></div>
          <div class="memo-download-title">メモデータの保存</div>
        </div>
        <div id="memo-download-list" class="memo-download-list-hidden theme-download-list">
          <div id="download-type-txt" class="memo-download-type">
            <div class="type-icon type-icon-txt"></div>
            <p>TXT形式</p>
          </div>
          <div id="download-type-html" class="memo-download-type">
            <div class="type-icon type-icon-html"></div>
            <p>HTML形式</p>
          </div>
          <!--OSS対応待ち
          <div id="download-type-pdf" class="memo-download-type">
            <div class="type-icon type-icon-pdf"></div>
            <p>HTML形式</p>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</body>

</html>