.listfilter-area{
    display: flex;
    width: calc(100% - 40px);
    padding: 5px 20px;
    border-bottom: 1px solid #cacaca;
}

.filterbtn{
	position: relative;
	cursor: pointer;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/filter.png);
    filter: var(--default_icon_filter);
    z-index: 2;
}


#filter-word{
    width: calc(100% - 80px);
    height: 40px;
    margin: 0 10px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    border: 0;
    background: none;
}

input[type="text"]:focus{
    border: 0;
    outline: 0;
}

input#filter-word:focus{
    background: var(--hover_back_color);
}