#contents{
    width: 100%;
    height: calc(100% - 56px);
    padding: 0;
    flex-wrap: nowrap;
}

.main-contents{
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}


.upload-left-contents,.upload-right-contents{
    max-width: 600px;
    width: 100%;
    margin: 0 10px;
}

#upload-video-preview{
    width: 100%;
    margin-top: 10px;
    box-shadow: 2px 2px 4px grey;
    background: #333;
}

.form-err-msg{
    font-size: 18px;
    font-weight: bold;
    color: #ff4a4a;
}

.step{
    width: calc(100% - 2px);
    margin: 10px 0;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    border-radius: 10px;
    border: 1px solid #cacaca;
}

.step-icon{
    background: #78b551;
    width: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.step-contents{
    width: 100%;
}

#drag-area{
    width: calc(100% - 26px);
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
}

.drag-area-init{
    display: none;
    border: dashed 2px #cacaca;
}

.drop-info{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    user-select: none;
}

.drop-or{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    user-select: none;
}

.dragover{
    border: 2px dashed #16a5bf;
}

#uploader{
    display: none;
}

.theme-upload-btn{
    font-size: 18px;
    font-weight: bold;

    padding: 10px 20px;
    border-radius: 5px;

    margin-bottom: 14px;

    user-select: none;
    cursor: pointer;
}

.input_text_title{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    color: var(--input_title_color);
}

.input_text_init{
    margin: 0 20px;
    border: none;
    width: calc(100% - 40px);
    padding: 0;
    
    font-size: 18px;
    font-weight: bold;
    resize: none;
    background: none;
}

.input_text_init:focus{
    outline: none;
}


input[type="textarea"]:focus{
    outline: none;
}

.theme-drag-area-block{
    align-content: space-between;
    justify-content: flex-end;
    border-radius: 10px;
    display: none;
}

.drag-area-block-on{
    display: flex;
    flex-wrap: wrap;
}

#input_file_name{
    margin: 0 20px;
    width: calc(100% - 40px);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
}

.select-file-title{
    width: 100%;
}

.re-select-file{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    text-align: right;

    user-select: none;
    cursor: pointer;

    margin: 5px 10px;
    border-radius: 5px;
}

.re-select-file:hover{
    background: rgb(90 90 90 / 20%);
}

.submit-area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.submit-btn{
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    width: 200px;
    height: 55px;
    background: #065e3c;
    color: #FFF;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    border-radius: 10px;
    margin: 0 10px;
    opacity: 0.8;
}

.submit-btn:hover{
    opacity: 1;
}

.submit-cancel{
    background: #9e9e9e;
}

#upload-now{
    position: absolute;
    top: calc(50% - 100px);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center; 
}


#upload-progress-area{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 20px;
    width: calc(100% - 40px);
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 16px -6px rgb(0 0 0 / 60%);
}

.upload-msg{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

#uploadbar{
    width: 100%;
    height: 30px;
}


#upload-percent{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}

#result-area{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#upload-info{
    width: calc(100% - 110px);
    font-weight: bold;
}

#back-btn{
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.unlock-btn{
    background: #065e3c;
    color: #fff;
    cursor: pointer;
} 

.lock-btn{
    background: #6f6f6f;
    color: #fff;
}

.required_input{
    border: 1px solid #ff4a4a;
}

#title-input-limit, #exp-input-limit{
    display: inline-block;
}

.input-limit-show{
    color: #6c6c6c;
    padding: 5px 20px;
    text-align: end;
}

@media screen and (max-width:1200px) { 
    .main-contents{
        width: calc(100% - 50px);
    }
}