.main-contents{
    width: calc(100% - 200px);
    overflow: auto;
}


.video-h1{
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video-h1 p{
    display: inline;
}
.video-h1 a{
    color : inherit;
}

.contents_header{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    left: 0;
}

.contents-category{
    width: calc(100% - 40px);
    padding: 0 20px;
    display: flex;
    border-bottom: 1px solid #cacaca;
    font-size: 18px;
    font-weight: 400;
    position: sticky;
    left: 0;
}

.category{
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.category a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.category:hover{
    background: rgb(145 145 145 / 10%);
}

.category-display-none{
    display: none;
}

#category-select-bar{
    position: absolute;
    bottom: 0;
    height: 4px;
    background: #065e3c;
    transition: all .1s ease-in;
}

.category-select-video{
    width: 76px;
    left: 20px;
}

.category-select-list{
    width: 130px;
    left: 96px;
}

.listfilter-area {
    position: sticky;
    left: 0;
}

#videolist-head{
    display: flex;
    min-width: 1440px;
    position: sticky;
    top: 0;
    background: var(--default_back_color);
    z-index: 4;
}

#videolist-head p{
    margin: 0;
    width: auto;
}

#videolist-head .head-video{
    width: 600px;
    padding: 10px 0;
    flex: 0 0 600px;
    border-bottom: 1px solid #cacaca;
    justify-content: space-between;
    cursor: pointer;
}

#videolist-head .head-checkbox{
    border-bottom: 1px solid #cacaca;
    position: sticky;
    top: 0;
}
.head-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background: var(--default_back_color);
    left: 0;
    width: 40px;
    flex: 0 0 40px;
    z-index: 3;
}

.list-checkbox, .all-checkbox{
    display: none;
}


.checkbox-label{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}

.checkbox-label::before,
.checkbox-label::after {
    content: "";
    display: block; 
    position: absolute;
}

.checkbox-label::before {
    border-radius: 0%;
    border: 1px solid #cacaca;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    top: 50%;
    left: 9px;
}

.checkbox-label::after {
    border-bottom: 2px solid #cacaca;
    border-left: 2px solid #cacaca;
    opacity: 0;
    height: 5px;
    width: 10px;
    transform: rotate(-45deg);
    top: calc(50% - 4px);
    left: 14px;
}

.list-checkbox:checked + .video_div .head-checkbox .checkbox-label::after,
.all-checkbox:checked + .checkbox-label::after{
    opacity: 1;
    border-color: #FFF
}

.list-checkbox:checked + .video_div .head-checkbox .checkbox-label::before,
.all-checkbox:checked + .checkbox-label::before{
    background: #065e3c;
}

.list-checkbox:checked + .video_div,
.list-checkbox:checked + .video_div .head-checkbox,
.list-checkbox:checked + .video_div .head-video{
    background: var(--hover_back_color);
}

.checkbox-selected{
    width: calc(100% - 40px);
    height: calc(100% - 1px);
    margin-left: 40px;
    position: absolute;
    background: var(--default_back_color);
    z-index: 2;
    border-bottom: 1px solid #cacaca;
    display: flex;
    align-items: center;
}

.checkbox-selected-off{
    display: none;
}

.selected-length{
    margin: 0 10px;
    user-select: none;
}

.selected-action-area{
    display: flex;
    align-items: center;
    height: calc(100% - 10px);
    margin: 5px 0;
    border-left: 1px solid #cacaca;
}

.selected-delete, .selected-add-list{
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.selected-delete:hover, .selected-add-list:hover{
    background: var(--hover_back_color);
}

#videolist-head .head-status,
#videolist-head .head-update,
#videolist-head .head-create,
#videolist-head .head-contributor{
    padding: 10px;
    border-bottom: 1px solid #cacaca;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.head-video{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    flex: 0 0 600px;
    left: 40px;
    z-index: 1;
    transform: translateZ(0);
    padding: 10px 0;
    background: var(--default_back_color);
}

.head-thumbnail{
    width: 160px;
    display: flex;
    padding-right: 20px;
    align-items: center;
    position: relative;
}

.head-title{
    width: 410px;
    display: flex;
    overflow-wrap: anywhere;
    flex-wrap: wrap;   
}

.head-status, .head-update, .head-create, .head-contributor{
    min-width: 200px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex: 1 0 200px;
}

.operation-div{
    width: 100%;
    display: none;
    align-items: center;
    flex-wrap: wrap;
}

.sort-head-btn{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.indicator{
    width: 24px;
    height: 24px;
}

.indicator::before {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: #aaa;
    margin-top: -6px;
}
  
.indicator::after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-top-color: #aaa;
    margin-top: 14px;
}

.asc .indicator::before {
    border-bottom-color: #555;
}

.desc .indicator::after {
    border-top-color: #555;
}

#videolist-area{
    width: 100%;
}

.upload-area{
    margin: 0 20px;
}

#upload-btn{
    margin: 0 auto;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
}

#upload-btn:hover{
    background: rgb(145 145 145 / 10%);
}

#upload-btn img{
    height: 28px;
    margin-right: 15px;
    filter: var(--default_icon_filter);
}

#upload-btn a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#videolist{
    width: 100%;
    padding-bottom: 50px;
}

.video_div{
    min-width: 1440px;
    display: flex;
    position: relative;
}

.video_div:hover{
    background: var(--hover_back_color);
}

.video_div:hover .head-checkbox{
    background: var(--hover_back_color);
}

.video_div:hover .head-video{
    background: var(--hover_back_color);
}

.video_div:hover .head-explanation-p{
    display: none;
}

.head-title:hover .head-explanation-p{
    display: none;
}

.video_div:hover .operation-div{
    display: flex;
}

.head-thumbnail img{
    width: 160px;
    height: 90px;
    object-fit: cover;
}

.head-thumbnail a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.head-thumbnail-ps{
    position: absolute;
    bottom: 2px;
    right: 22px;
    height: 18px;
    background: rgb(38 38 38 / 80%);
    color: #FFF;
    font-size: 14px;
    padding: 2px;
}

.playlist-thumbnail{
    height: 25px;
    right: 22px;
    background-image: url(../images/playlist-thumbnail.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10% 50%;
    padding: 2px 10px;
    padding-left: 30px;
    line-height: 25px;
}

.head-title p,
.head-explanation p,
.head-status p,
.head-update p,
.head-create p,
.head-contributor p{
    width: 100%;
    margin: 0;
    /*font-size: 18px;*/
    /*font-weight: bold;*/
}

.head-title-p{
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.head-explanation-p{
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.8;
}

.head-status-title{
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.head-status-info{
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.8;
}

.head-status-green{
    color: #065e3c;
    margin-right: 5px;
}

.head-status-yellow{
    color: #ffc107;
    margin-right: 5px;
}

.head-status-red{
    color: #fa1d1d;
    margin-right: 5px;
}

.head-update-ymd, .head-create-ymd, .head-contributor-p{
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.head-update-hms, .head-create-hms{
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.8;
}

.operation-div p{
    text-align: center;
    color: #FFF;
    font-size: 12px;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
}

.status-now{
    background: #fa1d1d;
    cursor: pointer;
    user-select: none;
}

.status-ed{
    background: #065e3c;
    cursor: pointer;
    user-select: none;
}

.status-lock{
    background: #6f6f6f;
    cursor: not-allowed;
    user-select: none;
}

.operation-div .status-ed{
    padding: 8px 25px;
}

.operation-div .hidden-icon{
    display: none;
}

.operation-div .icon{
    flex: 0 0 40px;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    margin: 0 10px;
    filter: var(--default_icon_filter);
    cursor: pointer;
    opacity: 0.7;
}

.operation-div .icon:hover{
    opacity: 1.0;
}

.operation-div .edit-operation-btn{
    background-image: url(../images/meta-edit.png);
}

.operation-div .copy-operation-btn{
    background-image: url(../images/copy.png);
}

.operation-div .sso-operation-btn{
    background-image: url(../images/sso-link.png);
}

.operation-div .delete-operation-btn{
    background-image: url(../images/delete.png);
}

.div-link{
    position: relative;
    margin: 0 5px;
}

.div-link a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



.delete-overlay-on{
    visibility: visible;
    opacity: 1;
}

#playlist-new-btn{
    margin-right: auto;
}

#playlist-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.playlist_div{
    display: flex;
    width: 100%;
    height: 50px;
}

.playlist_div .head-checkbox{
    width: 100%;
    flex: 0 0 100%;
    background: none;
}

.playlist_div .checkbox-label{
    line-height: 50px;
    padding-left: 50px;
}

.list-checkbox:checked + .playlist_div .head-checkbox .checkbox-label::after{
    opacity: 1;
    border-color: #FFF
}

.list-checkbox:checked + .playlist_div .head-checkbox .checkbox-label::before{
    background: #065e3c;
}

.delete-area, .playlist-add-area, .sso-area{
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.6);
    overflow: auto;
    background: var(--overlay_content_back_color);
    color: var(--default_color);
}

.delete-area p, .playlist-add-area p, .sso-area p{
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.delete-info, .playlist-list-area, .playlist-new-area, .sso-info{
    width: calc(100% - 60px);
    max-height: 500px;
    min-height: 100px;
    margin: 0 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: var(--overlay_content_info_back_color);
    overflow: auto;
}

.sso-info{
    min-height: 60px;
}

.playlist-new-area{
    flex-wrap: wrap;
}

.step{
    width: calc(100% - 2px);
    margin: 10px 0;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    border-radius: 10px;
    border: 1px solid #cacaca;
}

.step-contents{
    width: 100%;
}

.input_text_title{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

.input_text_init{
    color: var(--default_color);
    margin: 0 20px;
    border: none;
    width: calc(100% - 40px);
    padding: 0;
    
    font-size: 18px;
    font-weight: bold;
    resize: none;
    background: none;
}

.input_text_init:focus{
    outline: none;
}

input[type="textarea"]:focus{
    outline: none;
}

.required_input{
    border: 1px solid #ff4a4a;
}

.create-playlist-err-msg{
    font-size: 12px;
    font-weight: bold;
    color: #ff4a4a;
}

#title-input-limit, #exp-input-limit{
    display: inline-block;
}

.input-limit-show{
    color: #6c6c6c;
    padding: 5px 20px;
    text-align: end;
}


#delete-thumbnail{
    width: 30%;
}

#delete-title{
    width: 70%;
}

#delete-warning{
    width: calc(100% - 40px);
    margin-top: 20px;
    padding: 0 20px;
    color: #fa1d1d;
    font-weight: 400;
    text-align: right;
}

.delete-btn-area, .sso-btn-area{
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.delete-btn, .playlist-btn, .sso-btn{
    padding: 5px 20px;
    border-radius: 8px;
    color: var(--overlay_content_btn_color);
    cursor: pointer;
    user-select: none;
}

.delete-btn:hover, .playlist-btn:hover, .sso-btn:hover{
    background: rgba(0, 114, 255, 0.1);
}

.delete-btn-lock{
    color: #5a5a5a;
    cursor: not-allowed;
}

#delete-title, #sso-url{
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.sso-info input[type="url"]{
    border: none;
    background: none;
    color: var(--default_color);
    width: 100%;
}
.sso-info input[type="url"]:focus{
    outline: none;
}

.playlist-new-off{
    display: none;
}

#delete-another-contributor{
    width: calc(100% - 40px);
    margin: 0 20px;
    display: flex;
    align-items: center;
}

#delete-another-contributor .checkbox-label{
    width: 22px;
    height: 22px;
}

#delete-another-contributor p{
    font-size: 14px;
    color: #fa1d1d;
    margin: 0;
}

#another-contributor-name{
    padding: 0 20px;
    font-size: 14px;
    margin: 0;
}

.another-contributor-check-off{
    display: none;
}

@media screen and (max-width:479px) { 
    .video-h1{
        padding: 10px 40px 10px 0;
        font-size: 18px;
    }

    .listfilter-area{
        width: calc(100% - 20px);
        padding: 5px 10px;
    }
}

@media screen and (max-width:1200px) { 
    .main-contents{
        width: calc(100% - 50px);
    }
}

@media screen and (max-width:1690px) { 
    .head-video{
        border-right: 1px solid #cacaca;
    }
}