#video-player{
    width: 100%;
    height: 100%;
}

#main-area{
    /*width: 100%;*/
}

#video-area{
    max-width: 1280px;
    max-height: calc(1280px*0.5625);
}

#side-area{
    margin-left: 0px;
    margin-top: 20px;
}

#playlist-area{
    background: var(--default_back_color);
    margin-bottom: 15px; 
}

.playlist{
    width: calc(100% - 2px);
    border: 1px solid var(--default_border);
}

.playlist-details{
    width: 100%;
    height: 100%; 
}


.playlist-details summary {
    display: block;
}

.playlist-details summary::-webkit-details-marker {
    display: none;
}

.playlist-info{
    width: calc(100% - 10px);
    height: 50px;
    padding: 5px;
    background: var(--playlist_info_back_color);
    cursor: pointer;
    user-select:none;
}

#playlist-info-title{
    font-size: 16px;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
}

#playlist-info-index{
    font-size: 12px;
    padding-left: 5px;
    height: 20px;
    opacity: 0.5;
}

.playlist-list{
    width: 100%;
    background: var(--playlist_list_back_color);
    max-height: calc((1280px*0.5625) - 62px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
}

.playlist-content-index{
    width: 30px;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
    opacity: 0.5;
}

.playlist-content-div{
    width: 100%;
    height: 60px;
    display: flex;
    padding: 5px 0;
    position: relative;
    user-select: none;
}

.playlist-content-div:hover{
    background: var(--hover_back_color);
}

.playing-content{
    background: var(--hover_back_color);
}

.playing-content::before{
    position: absolute;
    top: calc(50% - 6px);
    left: 8px;
    content: "";
    border-right: 6px solid transparent;
    border-left: 10px solid var(--default_color);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    opacity: 0.6;
}

.playing-content .playlist-content-index{
    opacity: 0;
}

.playlist-content-a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.playlist-content-thumbnail{
    display: flex;
    align-items: center;
    position: relative;
}

.playlist-content-thumbnail-img{
    width: 96px;
    height: 54px;
    object-fit: cover;
}

.playlist-content-thumbnail-ps{
    position: absolute;
    bottom: 4px;
    right: 2px;
    height: 16px;
    background: rgb(38 38 38 / 80%);
    color: #FFF;
    font-size: 12px;
    padding: 2px;
}

.playlist-content-info{
    width: calc(100% - 140px);
    padding-left: 10px;
    padding-right: 4px;
}

.playlist-content-info-title{
    font-size: 14px;
    margin-top: 3px;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.playlist-none{
    display: none;
}

.memo-area{
    max-height: calc(1280px*0.5625);
}

#info-area{
    overflow-wrap: anywhere;
    max-width: 1280px;
    margin: 10px 0;
}

#video-title{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.video-info-ex{
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#video-update, #video-progress{
    padding: 0 10px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}

#video-explanation{
    border-top: 1px solid var(--default_border);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

#memo-editor{
    height: 100%;
}

#memo-controller{
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;;
    align-items: center;
    position: relative;
}

#memo-download-btn{
    width: 230px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.4);
    border-radius: 30px;
    cursor: pointer;
    user-select:none
}

.memo-download-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #065e3c;
    background-repeat  : no-repeat;
    background-position: center;
    background-size:60%;
}

.memo-download-title{
    width: 160px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
}

.save-icon{
    background-image: url(../images/save.png);
}

#memo-download-list{
    width: 180px;
    padding: 10px 0;
    position: absolute;
    bottom: 60px;
    right: 20px;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.4);

}

.memo-download-list-hidden{
    display: none;
}

.memo-download-type{
    height: 30px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    user-select:none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.memo-download-type p{
    line-height: 30px;
    padding: 0 10px;
    margin: 0;
}

.memo-download-type:hover{
    background: #e0e0e0;
}

.type-icon{
    width: 20px;
    height: 20px;
    background-size:cover;
}

.type-icon-txt{
    background-image: url(../images/type-txt.png);
}

.type-icon-html{
    background-image: url(../images/type-html.png);
}

.type-icon-pdf{
    background-image: url(../images/type-pdf.png);
}

.EasyMDEContainer{
    height: 100%;
}

.memo-area button{
    color: var(--default_color);
}

.memo-area .CodeMirror{
    height: calc(100% - 79px);
    background: var(--memo_back_color);
    color: var(--default_color);
    border: 1px solid var(--default_border);
}

.memo-area .editor-toolbar{
    border-top: 1px solid var(--default_border);
    border-left: 1px solid var(--default_border);
    border-right: 1px solid var(--default_border);
}

.memo-area .CodeMirror-cursor{
    border-left: 1px solid var(--default_color);
}

.memo-area button.active, .memo-area button:hover{
    background: var(--default_back_color);
    border-color: var(--default_color);
}

.memo-area .editor-preview-full,
.memo-area .editor-preview,
.memo-area .editor-preview-active{
    color: var(--default_color);
}

.memo-area .editor-toolbar.fullscreen, .memo-area .editor-preview{
    background: var(--memo_back_color);
}

.editor-statusbar{
    display: none;
}

/* 〜479px */
@media screen and (max-width:479px) {
    
    #contents {
        width: calc(100%);
        height: calc(100% - ((100vw)*0.5625) - 82px);
        padding: 10px 0 10px 0;
        margin-top: calc((100vw)*0.5625 + 6px);
    }

    #main-area {
        width: 100%;
    }

    #video-area{
        position: absolute;
        top: 60px;
        width: 100vw;
        height: calc(100vw*0.5625);
    }

    #info-area{
        width: calc(100vw - 30px);
        padding: 0 10px;
    }

    #side-area{
        width: calc(100vw - 30px);
         /*height: calc((100vw - 60px)*0.5625);*/
    }

    .EasyMDEContainer{
        height: 400px;
    }
    .EasyMDEContainer .CodeMirror {
        height: calc(100% - 79px);
    }
}

/* 480px〜599px */
@media screen and (min-width:480px) and (max-width:599px) { 
    #video-area{
        width: calc(100vw - 60px);
        height: calc((100vw - 60px)*0.5625);
    }

    #info-area{
        width: calc(100vw - 60px);
    }

    #side-area{
        width: calc(100vw - 60px);
         /*height: calc((100vw - 60px)*0.5625);*/
    }
    .EasyMDEContainer{
        height: 400px;
    }
    .EasyMDEContainer .CodeMirror {
        height: calc(100% - 79px);
    }
}

/* 600px〜959px */
@media screen and (min-width:600px) and (max-width:959px) {
    #video-area{
        width: calc(100vw - 60px);
        height: calc((100vw - 60px)*0.5625);
    }

    #info-area{
        width: calc(100vw - 60px);
    }

    #side-area{
        width: calc(100vw - 60px);
        /*height: calc((100vw - 60px)*0.5625);*/
    }
    .EasyMDEContainer{
        height: 400px;
    }
    .EasyMDEContainer .CodeMirror {
        height: calc(100% - 79px);
    }
}

/* 960px〜1280px：*/
@media screen and (min-width:960px) and (max-width:1280px) {
    #video-area{
        width: calc(100vw - 380px);
        height: calc((100vw - 380px)*0.5625);
    }

    #info-area{
        width: calc(100vw - 380px);
    }

    #side-area{
        margin-left: 10px;
        margin-top: 0px;
        width: 300px; 
    }
    .memo-area{
        height: calc((100vw - 380px)*0.5625);
    }
    .playlist-list{
        max-height: calc((100vw - 380px)*0.5625 - 62px);
    }

    .EasyMDEContainer .CodeMirror {
        height: calc(100% - 79px);
    }
}

/* 1281px〜 */
@media screen and (min-width:1281px) {
    #video-area{
        width: calc(100vw - 480px);
        height: calc((100vw - 480px)*0.5625);
    }

    #info-area{
        width: calc(100vw - 480px);
    }

    #side-area{
        margin-left: 10px;
        margin-top: 0px;
        width: 400px;
    } 
    .memo-area{
        height: calc((100vw - 480px)*0.5625);
    }
    .playlist-list{
        /*height: calc((100vw - 480px)*0.5625 - 62px);*/
        max-height: calc((100vw - 480px)*0.5625 - 62px);
    }

}

@media screen and (min-width:1600px) {

    #video-area{
        width: calc(100vw - 580px);
        height: calc((100vw - 580px)*0.5625);
    }

    #info-area{
        width: calc(100vw - 580px);
    }

    #side-area{
        margin-left: 10px;
        margin-top: 0px;
        width: 500px;
    } 
    .memo-area{
        height: calc((100vw - 580px)*0.5625);
    }
    .playlist-list{
        /*height: calc((100vw - 580px)*0.5625 - 62px);*/
        max-height: calc((100vw - 580px)*0.5625 - 62px);
    }

}

@media screen and (min-width:1600px) {
    .playlist-list{
        max-height: calc((1280px*0.5625) - 62px);
    }
}