<div id="copy-overlay" class="overlay">
    <div class="overlay-area">
        <p class="overlay-title">複製先選択</p>
        <div class="overlay-info">
            <div id="copy-select-back" class="copy-select-back-btn"><</div>
            <div id="copy-to-list-title" class="copy-title">サービス</div>
            <div id="copy-to-list-area" class="copy-to-list">
                <div id="copy-to-list"></div>
            </div>
        </div>
        <div id="copy-err" class="overlay-err-msg"></div>
        <div class="overlay-btn-area">
            <div id="copy-cancel-btn" class="overlay-btn">閉じる</div>
            <div id="copy-run-btn" class="overlay-btn overlay-lock-btn">複製</div>
        </div>
    </div>
</div>
<template id="template-copy">
    <div class="copy-div">
        <div class="copy-to-title-img"></div>
        <div class="copy-to-title"></div>
    </div>
</template>
<link rel='stylesheet' href='./stylesheets/copy.css'/>
<script type="text/javascript" src="./javascripts/copy.js"></script>