<script type="text/javascript" src="./javascripts/filter.js"></script>
<link rel='stylesheet' href='./stylesheets/filter.css'/>
<div class="listfilter-area">
    <div id="filter-btn" class="filterbtn"></div>
    <input type="text" id="filter-word" class="theme-filter-word" placeholder="フィルタ">
</div>