<script type="text/javascript" src="/javascripts/filter.js"></script>
<link rel='stylesheet' href='/stylesheets/filter.css'/>
<div class="listfilter-area">
    <div id="filter-btn" class="filterbtn">
        <span class="theme-munu-btn"></span>
        <span class="theme-munu-btn"></span>
        <span class="theme-munu-btn"></span>
        <div id="filter-list" class="filter-list-hidden theme-download-list">
            <div id="filter-type-create-up" class="filter-type">
                <p>作成日時 (昇順)</p>
            </div>
            <div id="filter-type-create-down" class="filter-type">
                <p>作成日時 (降順)</p>
            </div>
            <div id="filter-type-update-up" class="filter-type">
                <p>更新日時 (昇順)</p>
            </div>
            <div id="filter-type-update-down" class="filter-type">
                <p>更新日時 (降順)</p>
            </div>
            <div id="filter-type-title-up" class="filter-type">
                <p>タイトル (昇順)</p>
            </div>
            <div id="filter-type-title-down" class="filter-type">
                <p>タイトル (降順)</p>
            </div>
        </div>
    </div>
    <input type="text" id="filter-word" class="theme-filter-word" placeholder="フィルタ">
</div>