<link rel='stylesheet' href='/stylesheets/header.css'/>
<link rel='stylesheet' href='/stylesheets/munu.css'/>
<link rel='stylesheet' href='/stylesheets/theme.css'/>
<script type="text/javascript" src="/javascripts/header.js"></script>
<div id="header" class="theme-header">
  <div class="logo theme-logo">
    
  </div>
  <div id="config-area">
    <div id="munu-btn" class="openbtn">
      <span class="theme-munu-btn"></span>
      <span class="theme-munu-btn"></span>
      <span class="theme-munu-btn"></span>
    </div>
    <div id="menu-area" class="menu theme-munu">
      <div class="user-icon">
        <svg width="87" height="87" xmlns="http://www.w3.org/2000/svg" overflow="hidden"><defs><clipPath id="a"><path d="M432 214h87v87h-87z"/></clipPath></defs><g clip-path="url(#a)" transform="translate(-432 -214)" fill="#FFF"><path d="M490 241.188c0 8.008-6.492 14.5-14.5 14.5s-14.5-6.492-14.5-14.5c0-8.009 6.492-14.5 14.5-14.5s14.5 6.491 14.5 14.5zM504.5 288.312v-14.5c0-2.174-1.087-4.35-2.9-5.799-3.988-3.263-9.062-5.438-14.138-6.888-3.625-1.087-7.612-1.813-11.962-1.813-3.987 0-7.975.726-11.962 1.813-5.076 1.45-10.15 3.987-14.138 6.888-1.813 1.449-2.9 3.625-2.9 5.799v14.5h58z"/></g></svg>
      </div>
      <div id="user-name"></div>
      <div class="menu-boder"></div>
      <div class="menu-contents" id="about-page">
        <div class="menu-contents-icon info-icon theme-munu-icon"></div>
        <span class="menu-contents-span">このサイトについて</span>
      </div>
      <div class="menu-contents" id="return-page">
        <div class="menu-contents-icon return-icon theme-munu-icon"></div>
        <span class="menu-contents-span">講義ページに戻る</span>
      </div>
      <div class="menu-contents" id="logout-page">
        <div class="menu-contents-icon logout-icon theme-munu-icon"></div>
        <span class="menu-contents-span">ログアウト</span>
      </div>
      <div class="menu-boder"></div>
      <div class="menu-contents">
        <div class="menu-contents-icon theme-icon theme-munu-icon"></div>
        <span class="menu-contents-span">テーマ</span>
        <div class="toggle-switch">
            <input id="toggle" class="toggle-input" type='checkbox' checked/>
            <label for="toggle" class="toggle-label"/>
        </div>
      </div>
      <div class="menu-contents" id="memo-delete">
        <div class="menu-contents-icon memo-icon theme-munu-icon"></div>
        <span class="menu-contents-span">メモデータの削除</span>
      </div>
      <div class="menu-contents" id="config-delete">
        <div class="menu-contents-icon config-icon theme-munu-icon"></div>
        <span class="menu-contents-span">設定値の全削除</span>
      </div>
      <div class="menu-boder"></div>
      <div class="class-info">
        <span>Connected</span>
        <p id="class-title"></p>
      </div>
    </div>
    <div id="menu-overlay" class="off-overlay theme-overlay"></div>
  </div>

</div>