<link rel='stylesheet' href='./stylesheets/side-menu.css'/>
<script type="text/javascript" src="./javascripts/side-menu.js"></script>
<div class="side-contents">
    <div class="side-menu-start">
        <div id="sub-contents-btn" class="side-menu">
            <div class="side-menu-image side-menu-image-all"></div>
            <div class="side-menu-title">コンテンツ一覧</div>
        </div>
        <div id="sub-upload-btn" class="side-menu">
            <div class="side-menu-image side-menu-image-upload"></div>
            <div class="side-menu-title">アップロード</div>
        </div>
        <div class="side-menu">
            <div class="side-menu-image side-menu-image-manual"></div>
            <div class="side-menu-title">利用マニュアル</div>
            <a title="利用マニュアル" href="https://github.com/kuropengin/SHINtube/blob/main/docs/SHINtubeManual.md"></a>
        </div>
        <div class="side-menu side-menu-hiden">
            <div class="side-menu-image side-menu-image-analytics" title="アナリティクス"></div>
            <div class="side-menu-title">アナリティクス</div>
        </div>
    </div>
    <div class="side-menu-end">
        <div id="sub-system-btn" class="side-menu">
            <div class="side-menu-image side-menu-image-system"></div>
            <div class="side-menu-title">システム</div>
        </div>
        <div class="side-menu">
            <div class="side-menu-image side-menu-image-mail"></div>
            <div class="side-menu-title">お問い合わせ</div>
            <a title="お問い合わせ" href="https://github.com/kuropengin/SHINtube/issues/new"></a>
        </div>
    </div>  
</div>