<link rel='stylesheet' href='/stylesheets/side-menu.css'/>
<script type="text/javascript" src="/javascripts/side-menu.js"></script>
<div class="side-contents">
    <div class="side-menu-start">
        <div id="sub-contents-btn" class="side-menu">
            <div class="side-menu-image side-menu-image-all" title="全てのコンテンツ"></div>
            <div class="side-menu-title">コンテンツ一覧</div>
        </div>
        <div id="sub-upload-btn" class="side-menu">
            <div class="side-menu-image side-menu-image-upload" title="アップロード"></div>
            <div class="side-menu-title">アップロード</div>
        </div>
        <div class="side-menu">
            <div class="side-menu-image side-menu-image-manual" title="利用マニュアル"></div>
            <div class="side-menu-title">利用マニュアル</div>
            <a href="https://github.com/kuropengin/SHINtube/blob/main/docs/SHINtubeManual.md"></a>
        </div>
        <div class="side-menu side-menu-hiden">
            <div class="side-menu-image side-menu-image-analytics" title="アナリティクス"></div>
            <div class="side-menu-title">アナリティクス</div>
        </div>
    </div>
    <div class="side-menu-end">
        <div id="sub-system-btn" class="side-menu">
            <div class="side-menu-image side-menu-image-system" title="システム"></div>
            <div class="side-menu-title">システム</div>
        </div>
        <div class="side-menu">
            <div class="side-menu-image side-menu-image-mail" title="お問い合わせ"></div>
            <div class="side-menu-title">お問い合わせ</div>
            <a href="https://github.com/kuropengin/SHINtube/issues/new"></a>
        </div>
    </div>  
</div>